{% spaceless %}
  {% load static %}

  {% block css %}
    <link href="{% static 'table/plugins/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static table.opts.theme_css_file  %}" rel="stylesheet" media="screen">
    {% if table.opts.export %}
      <link href="//cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" rel="stylesheet" media="screen">
    {% endif %}
  {% endblock css %}
  {% block extra_css %}{% endblock extra_css %}

  <table id={{ table.opts.id }} {{ table.opts.attrs }} cellpadding="0" cellspacing="0" border="0">
    <thead {% if table.opts.thead_attrs %}{{ table.opts.thead_attrs }}{% endif %}>
      {% for row in table.header_rows %}
        <tr>
          {% for header in row %}
            <th {% if header.attrs %}{{ header.attrs }}{% endif %}>
              {{ header.text }}
            </th>
          {% endfor %}
        </tr>
      {% endfor %}
    </thead>
    {% if not table.opts.ajax %}
      <tbody {% if table.opts.tbody_attrs %}{{ table.opts.tbody_attrs }}{% endif %}>
        {% for row in table.rows %}
          <tr>
            {% for column, td in row.items %}
              <td {% if column.attrs %}{{ column.attrs }}{% endif %}>{% if column.safe %}{{ td }}{% else %}{{ td|safe }}{% endif %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    {% endif %}
  </table>

  {% block js %}
    <script src="{% static 'table/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'table/plugins/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static table.opts.theme_js_file %}" type="text/javascript"></script>
    {% if table.opts.export %}
      <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
      <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
    {% endif %}
  {% endblock js %}
  {% block extra_js %}{% endblock extra_js %}

  {% block table_init_js %}
    <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      var filterFunc = function (sData) {
        return sData.replace(/\n/g," ").replace( /<.*?>/g, "" );
      };

      var table = $('#{{ table.opts.id }}').DataTable({
        {% block table_options %}
          {% if table.opts.export %}
            "dom": "<'row'<'col-sm-12 col-md-3' l><'col-sm-12 col-md-5 text-center' B><'col-sm-12 col-md-4' f>>rt<'row'<'col-sm-12 col-md-6' i><'col-sm-12 col-md-6' p>>",
            {% if table.opts.buttons %}
              "buttons": [
                {% for button in table.opts.buttons %}
                  '{{ button }}',
                {% endfor %}
              ],
            {% endif %}
          {% endif %}
          {% if table.opts.ajax %}
            "processing": true,
            "serverSide": true,
            "ajaxSource": {% if table.opts.ajax_source %}"{{ table.opts.ajax_source }}"{% else %}"{% url 'datatable:feed_data' table.token %}"{% endif %},
          {% endif %}
          "paging": {% if table.opts.pagination %}true,{% else %}false,{% endif %}
          {% if table.opts.scrollable %}
            "scrollX": "100%",
            "sScrollXInner": "{{ table.opts.scrollinner }}",
            "scrollCollapse": true,
          {% endif %}
          "order": [
            {% for index, order in table.opts.sort %}
              [ {{ index }}, "{{ order }}" ],
            {% endfor %}
           ],
          "columns": [
            {% for column in table.columns %}
              {% if column.space %}
                {
                  {% if not column.searchable %}"searchable": false,{% endif %}
                  {% if not column.sortable %}"orderable": false,{% endif %}
                  {% if not column.visible %}"visible": false,{% endif %}
                  {% if column.links %}
                    "render": function(data, type, full) {
                      return type == 'filter' ? $(data).text() : data
                    }
                  {% endif %}
                },
              {% endif %}
            {% endfor %}
          ],
        {% endblock table_options %}
        {% block table_extra_options %}{% endblock %}
      });
      {% if table.opts.scrollable %}
        new $.fn.dataTable.FixedColumns(table, {
        {% if table.opts.fixed_columns %}"iLeftColumns": {{ table.opts.fixed_columns }},{% endif %}
        {% if table.opts.fixed_columns_width %}"iLeftWidth": {{ table.opts.fixed_columns_width }}{% endif %}
        });
      {% endif %}
    });
    </script>
  {% endblock table_init_js %}
{% endspaceless %}
